.section-movie-form {
  /* margin-bottom: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.movie-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 20rem;
  background-color: #f1ebdb;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.movies-form-btn{
  background-color: black;
  color: white;
  height: 2rem;
  width: 4rem;
  border-radius: 2rem;
}

.genre-checkboxes{
  display: flex;
  flex-direction: column;
  height: 2rem; 
  /* width: 8rem; */
  overflow-y: auto;
}