body {
    background-color: #E0AF37;
  }
.section-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #DFAF36; */
    height: 53rem;
    width: 24.5rem
}

.login-logo{
    height: 10rem;
    width: 10rem
}

.login-link{
    text-decoration: none;
}

@media(width >= 800px){
    .section-login{
        width: 800px
    }
}

@media(width >= 1200px){
    .section-login{
        width: 1450px
    }
}


